<<<<<<< HEAD
*{
    background-color:white; 
    color:darkblue;
    text-align: center;
    font-style: oblique;
    font-family:Verdana, Geneva, Tahoma, sans-serif ; 
}

#imgpoli{
    border-radius: 10%;
    box-shadow: 10px 10px 10px gray;
=======
*{
    background-color:white; 
    color:darkblue;
    text-align: center;
    font-style: oblique;
    font-family:Verdana, Geneva, Tahoma, sans-serif ; 
}

#imgpoli{
    border-radius: 10%;
    box-shadow: 10px 10px 10px gray;
>>>>>>> 53f82f6f26536e219905d8306614915cd5ce484f
}