*{
    background-color:darkblue; 
    color:white;
    text-align: center;
}

#imgPerfil {  
    width: 400px;
    height: 250px; ;
    border-radius: 10%;
    border:solid 5px;
    border-color: azure;
   
}

.titulos{
    font-size: 200%;
    font-style: italic;

}  
h2{
    font-size: 300%;
}

#biografia{
    width: 60vw;
    text-align: center;
    margin-left: 20%;
}

.divI nline{
    display: block;
}

#filmografia{
    display:unset;
}